html {
background-color: #27A9F5;
}

body {
width: 600px; 
margin: 0 auto; 
background-color: #fcfcfc;
padding: 0 20px 20px 20px;
border: 5px solid rgb(255, 255, 255);
}

h1 {
margin: 0;
padding: 20px 0; 
color: #00539f;
text-shadow: 3px 3px 1px black;
}

img {
display: block; 
margin: 0 auto;
}